.containerprojet {
  max-width: 800px;
  margin: 2rem auto;
  padding: 0 1rem;
  text-align: center;
}
.grand{
    color: rgb(13, 80, 57);
}

.pictures {
  text-align: center;
  margin-bottom: 2rem;
}

.pictures img {
  max-width: 100%;
  height: auto;
}

.projets {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
}

.projet {
  flex-basis: 30%;
  border: 1px solid #ccc;
  border-radius: 5px;
  padding: 1rem;
  margin-bottom: 2rem;
  box-shadow: 0 0 20px rgb(33, 194, 140);
  text-align: center;
}

.projet h2 {
  margin-top: 0;

}

.projet p {
  margin-bottom: 1rem;  
}

.projet a {
  display: inline-block;
  background-color:rgb(13, 80, 57);
  color: white;
  padding: 0.5rem 1rem;
  border-radius: 5px;
  text-decoration: none;
}

.projet a:hover {
  background-color: rgb(33, 194, 140);
      color: black;
}
